/* Общие настройки */
body {
     margin: 0;
      padding: 0;
    background-image: url ("sirenevye-akrilovye-tekstury-fona-oboi.jpg"); 
    background-size: cover;              
    background-position: center;          
    background-repeat: no-repeat;         
    font-family: Arial, sans-serif;
    color: black;                         
    
}



/* Настройки внешнего вида меню */
.menu ul {
    
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16bbee;
  background-color: rgba(81, 83, 231, 0.7); 
}
  


/* Расположение пунктов меню горизонтально */
.menu li {
  float: left;
}

/* Форматирование ссылок */
.menu a {
  display: block;
  color: rgb(6, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Наведение мыши меняет цвет фона */
.menu a:hover {
  background-color: #aaadef;
}





.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 10px;
    padding: 20px;
    
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;                          
    height: auto;                         
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    text-align: center;
}

/* Адаптация модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-height: 80%;
}

@media screen and (max-width: 700px) {   /* Адаптивные изменения для мобильных устройств */
    body {
        font-size: 14px;                  /* Уменьшаем размер шрифта на маленьких экранах */
    }
    
    .gallery-container {
        grid-gap: 5px;                    /* Уменьшение промежутков между изображениями */
    }
    
    .gallery-item {
        padding-bottom: 10px;             /* Добавляем небольшие отступы */
    }
    
    .modal-content {
        width: 90%;                       /* Больше пространства для контента на мобильных устройствах */
    }
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.close-modal:hover,
.close-modal:focus {
    color: #d81414;
    text-decoration: none;
    cursor: pointer;
}

/* Футер */
.site-footer {
    background-color: #e25ec6;
    line-height: 0; 
    color: rgb(34, 7, 7); 
    opacity: 100; 
    height: 0px; 
}