/* Настройки внешнего вида меню */
.menu ul {
    justify-content: center;
    align-items: center;
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a936ec;
    font-size: 18px; 
    background-color: rgba(110, 28, 218, 0.7); 
    margin-bottom: 20px; 

}

.menu li {
  float: left;
}


.menu a {
  display: block;
  color: rgb(6, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.menu a:hover {
  background-color: #eadcdc;
}
/* Сообщения */

#contactForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    width: 300px; 
    display: none; 
}

#contactForm.show {
    display: block; 
}

/* Стили для элементов формы */
#contactForm h2 {
    margin-bottom: 10px;
}

/* Стили для контейнера кнопок */
.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 10px; 
}

/* Стили для кнопок */
.button-container button {
    padding: 10px;
    background-color: #e4e6e9;
    color: rgb(9, 9, 9);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out; 
}

.button-container button:hover {
    background-color: #21d4e8; 
}

#contactForm button:hover {
    background-color: #37c1e8; 
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ebe5e5;
    border-radius: 4px;
}

#contactForm textarea {
    resize: vertical;
    min-height: 100px;
}
/* Стили для фотогалереи */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Уникальный стиль для заголовка галереи */
.gallery-title {
  color: #ff5733; 
  font-size: 12px; 
  font-weight: bold; 
  text-transform: uppercase; 
  letter-spacing: 2px; 
  background-color: #ffffff; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  margin-bottom: 20px; 
}

/* Адаптивная верстка для меню */
@media (max-width: 768px) {
  .menu li {
    float: none;
    width: 100%;
  }

  .menu a {
    text-align: left;
    padding: 10px;
  }
}

/* Адаптивная верстка для фотогалереи */
@media (max-width: 768px) {
  .gallery img {
    width: 100%;
    height: auto;
  }
}

/* Стилизация заголовка */

h1 {
    font-size: 3em; 
    text-align: center; 
    letter-spacing: 2px; 
    color: transparent; 
    background-clip: text; 
    -webkit-background-clip: text; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: #090909; 
}


/* Эффект размытого ореола вокруг текста */
h1::before {
    content: ''; 
    position: absolute; 
    top: 0; bottom: 0; left: 0; right: 0; 
    z-index: -1; 
    filter: blur(5px); 
    background-color: #fff; 
    transform: scaleX(1.1) scaleY(1.2); 
    opacity: 0.5; 
}

/* Основной текст */
p {
  white-space: pre-wrap;
  font-size: 2em;
  color: #090909; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-weight: bold; 
  text-align: center;
  margin-top: 20px;
}
  
   


/* Основные стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=text],
input[type=tel],
input[type=email],
textarea,
select {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ebe5e5;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #12c0f0;
  box-shadow: 0 0 5px rgba(237, 235, 234, 0.5);
}

.validation-message {
  color: red;
  font-size: 12px;
  display: none;
}

.hidden {
  display: none;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #2686e7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: #2188e8;
}

/* Центрирование форм */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent; 
}

form {
  width: 500px;
  padding: 20px;
  background-color: rgba(90, 130, 239, 0.8); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 252, 252, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #9a0dec;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #0c4fe2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #468fe8;
}

#presentationTopicContainer {
  margin-top: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Белые буквы */
.site-footer h6,
.site-footer p,
.site-footer .copyright-text {
    color: rgb(248, 241, 241);
    font-size: 20px; 
}

/* Белая подсветка ссылок */
.site-footer a {
    color: white;
    text-decoration: none;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  form {
    width: 90%;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  .menu li {
    float: none;
    width: 100%;
  }

  .menu a {
    text-align: left;
    padding: 10px;
  }
}

/* Центрирование основного контейнера */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent; 
}

/* Общий класс для центровки элемента */
.centered-element {
  max-width: 800px;
  padding: 20px;
  background-color: transparent; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(21, 2, 2); 
  text-align: center;
}

/* Адаптивное поведение элементов */
@media screen and (min-width: 768px) {
  .centered-element {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .centered-element {
    width: 90%;
  }
}
/*футер*/

.site-footer {
    background-color: transparent; 
    line-height: 1; 
    color: rgb(247, 243, 243); 
    height: auto; 
}

.social-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 30%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: all .2s linear;
    box-shadow: 0 1px 3px rgba(239, 236, 239, 0.962), 0 1px 2px rgba(10, 240, 144, 0.24);
}

.social-icons img {
    max-width: 100%;
    object-fit: contain;
}

.copyright-text {
    float: left;
    clear: both;
    margin-top: 15px;
}
 /* Изменение внешнего вида на экранах меньше 600 пикселей */
@media screen and (max-width: 600px) {
    .container {
        width: 90%; 

    nav ul {
        flex-wrap: wrap; 
        justify-content: center; 
    }

    nav li {
        margin: 5px; 
    }
}

/* Изменение внешнего вида на экранах меньше 400 пикселей */
@media screen and (max-width: 400px) {
    .container {
        width: 100%; 
    }
}
/* Стили для контейнера кнопок */
.button-container {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 10px; 
}


}