body {
    background-image: url('фон тест.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.navbar {
    background-color: #f6d68c;
    overflow: hidden;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 50px;
}

.menu-item {
    margin-right: 100px;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 50px;
    transition: all 0.3s ease-in-out;
}

.menu-item a:hover {
    color: blue;
}

.row {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    width: 45%;
    margin: 0 10px;
}

.question-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px; /* Уменьшили внутреннее заполнение */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    max-height: 120px; /* Ограничиваем максимальную высоту */
    overflow-y: auto; /* Добавляем полосу прокрутки, если содержимое длиннее */
     font-size: 14px; /* Установка меньшего размера шрифта */
}

.question {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}